# Xmonad and Xmobar stuff
/dots/.xmonad/xmonad-x86_64-linux
**/*.hi
**/*.o
**/*.errors
**/.stack-work/

# Emacs stuff
/dots/.emacs.d/auto-save-list
/dots/.emacs.d/elpa/
/dots/.emacs.d/projectile*
/dots/.emacs.d/recentf
/dots/.emacs.d/transient
/dots/.emacs.d/.extension
/dots/.emacs.d/.lsp*
/dots/.emacs.d/*.db
/dots/.emacs.d/var/
/dots/.emacs.d/emojis/
/dots/.emacs.d/.cache/
/dots/.emacs.d/custom.el
/dots/.emacs.d/flycheck_init.el
/dots/.emacs.d/straight/*.el
/dots/.emacs.d/straight/build/
/dots/.emacs.d/straight/repos/

# Fish stuff
/dots/fish/fish_variables
