.netrwhist
.xmonad/xmonad-x86_64-linux
*.hi
*.o
*.errors
**/.stack-work
.emacs.d/auto-save-list
elpa
projectile*
recentf
transient
.extension
recentf~
.lsp*
*\~
*.db
**/var/
**/emojis/
**/.cache
.emacs.d/custom.el
.emacs.d/flycheck_init.el
